body{
    #player{
       text-align: center;
       padding-top: 35%;
       
    }
    .audio-spectrum{
        height: 250px;
        display: flex;
        align-items: flex-end;
    }
    .audio-spectrum div{
        width: 15px;
        height: 250px;
        margin-right: 10px;
        border-radius:5px;
        background-color: white;
    }
    @keyframes equilizer {
        0% {
            height
        }
    
    }
    animation: audio-spectrum duration timing-function delay iteration-count direction fill-mode;
    background-color: black ;
}