body{
  font-family: Arial, Helvetica, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;

  --color1: rgb(243, 105, 55);
  --color2: rgb(52, 192, 111);
  --black: #181818;
}
a {
 color: #181818;
}


.back h6{
  font-size: 15px;
  color: rgb(95, 84, 84);
  padding: 4px;
  text-align: end;
  justify-content: space-between;
  display: flex;
  margin: 30px
}
.dr h2{
  text-align: center;
  color :black;
  
 
}
.redes{
  width: 40px;
}
.brasao img{
width: 100px;
padding: 2%;
float: left;



} 
.player{
  text-align: center;
  padding-top:350px;
  .ico{
    
    width: 30px;
    height: 30x;
  }
}